<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar style="--background: rgb(45, 1, 148) !important; display: flex;">
      <ion-buttons slot="start">
        <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
      </ion-buttons>
      <!-- <div class="icones">
        <span>Filtrar</span>
        <ion-icon src="../../assets/icon/filtro.svg"></ion-icon>
      </div> -->
    </ion-toolbar>
  </ion-header>
  <br>
  <h1>Agendamento de Mudanças</h1>
  <div class="container-search">
    <input class="input-search" placeholder="Procurar Mudanças">
    <ion-icon src="../../assets/icon/pesquisa.svg"></ion-icon>
  </div>

  <div class="card-calendario">
    <ion-grid>
      <ion-row style="margin-top: 20px" *ngFor="let dados of mudanca">
        <ion-col size="2" class="paragraph-card-2">
          <p class="paragraph1" style="font-size: 16px;">{{dados.data | date: 'MMM'}}</p>
          <br>
          <p class="paragraph1">{{dados.data | date: 'd'}}</p>
          <br>
          <p class="paragraph1" style="font-size: 16px">{{dados.data | date: 'y'}}</p>
        </ion-col>
        <ion-col size="10" class="paragraph-card" style=" position: relative; text-transform: capitalize; right: 4px; z-index: -999; border-radius: 5px;">
          <p>Horário: {{dados.hora}}</p>
          <p>Bloco: {{dados.morador.bloco}} | Apartamento: {{dados.morador.apartamento}}</p>
          <p>Nome: {{dados.morador.nome}} {{dados.morador.sobrenome}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>