<ion-content>

    <ion-header [translucent]="true">
      <ion-toolbar style="--background: rgb(45, 1, 148) !important; display: flex;">
        <ion-buttons slot="start">
          <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
  
    <br>
    <br>
    <div class="logo-header">
      <img src="../../assets/img/sugestao.svg">
      <h3>Sugestões</h3>
      <span>Crie sugestões para melhoria do condominio</span>
    </div>
  
    <form [formGroup]="formulario">
  
      <div class="inputs">
  
        <div class="input-cadastro2">
          <ion-label>Título</ion-label>
          <ion-input type="text" placeholder="" formControlName="tituloSugestao" name="tituloSugestao"></ion-input>
        </div>
  
        <div class="input-cadastro2">
          <ion-label>Descrição</ion-label>
          <ion-textarea type="text" placeholder="" formControlName="descricaoSugestao" name="descricaoSugestao"></ion-textarea>
        </div>
  
        <ion-button class="button-login">Cadastrar</ion-button>
      </div>
    </form>
    <br>
    <br>
  </ion-content>