h1{
    text-align: center;
    color: #5231A1;
    margin-top: 20px;
}

.mat-title{
    font-size: 14px;
}

.status{
    width: 14px;
    height: 14px;
    background: green;
    border-radius: 50%;
    position: relative;
    top: 8px;
}

ion-list{
    ion-item{

        --color: #565656 ;
        font-size: 15px;
    }
}

input[type=file]{
    display: none;
}

.anexo{
    ion-item{
        font-size: 14px;
        --background: #5231A1 !important;
        border-radius: 10px;
        color: #fff;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    ion-button{
        --background: #5231A1;
        color: #fff;
        margin: 0 auto;
        width: 100%;
    }
}

div.icones{
    ion-icon{
        float: right;
        font-size: 25px;
    }
}

div.icones{
    ion-icon{
        float: right;
        font-size: 30px;
    }

    span{
        font-size: 16px;
        position: relative;
        top: 6px;
        
        color: #fff;
        float: right;
    }
}