<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar style="--background: rgb(45, 1, 148) !important; display: flex;">
      <ion-buttons slot="start">
        <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
      </ion-buttons>
      <!-- <div class="icones">
        <span>Filtrar</span>
        <ion-icon src="../../assets/icon/filtro.svg"></ion-icon>
      </div> -->
      <ion-select placeholder="Filtrar" style="width: 30% !important; float: right;" (ionChange)="filtrar()" [(ngModel)]="filtro">
        <ion-select-option value="false">Não Entregue</ion-select-option>
        <ion-select-option value="true">Entregue</ion-select-option>
      </ion-select>
      <!-- <mat-select [(value)]="selected" placeholder="Filtrar" style="width: 30% !important; float: right; color: #fff;" >
        <mat-option value="option1">Entregue</mat-option>
        <mat-option value="option2">Não Entregue</mat-option>
      </mat-select> -->
    </ion-toolbar>
  </ion-header>
  <br>
  <h1>Encomendas</h1>
  <div class="container-search">
    <input class="input-search" placeholder="Procurar Encomendas">
    <ion-icon src="../../assets/icon/pesquisa.svg"></ion-icon>
  </div>
  <mat-expansion-panel *ngFor="let encomendas of encomenda" hideToggle style="min-height: 10px; width: 90%; margin: 0 auto; margin-top: 20px !important;">
    <mat-expansion-panel-header>
      <mat-panel-title style="display: flex; align-items: center;">
        <ion-icon src="../../assets/icon/box.svg" style="font-size: 30px;"></ion-icon>
        &nbsp;&nbsp;<span style="font-size: 15px;text-transform: capitalize;">#{{encomendas.id}} - {{encomendas.destinatario}}</span><br>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <span style="color: #6200EE">Encomenda cadastrada em<br> {{encomendas.dataCriacao}} ás {{encomendas.horaCriacao}}</span><br>
    <span style="color: #6200EE; text-transform: capitalize;">Por: {{encomendas.autor}}</span><br><br>

    <span>Descrição da Entrega:</span><br>
    <span>{{encomendas.descricao}}</span>

    <div class="entrega">
      <button (click)="alterar(encomendas.id, encomendas.descricao, encomendas.morador.id)">Entregue</button>
    </div>

  </mat-expansion-panel>

</ion-content>