<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="folder"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="logo-header">
    <img src="../../assets/img/cad.svg">
    <h3>Cadastro</h3>
    <span>Colaborador</span>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="cadastrar()">

    <div class="inputs">
      <div class="input-cadastro1">
        <ion-label>Nome</ion-label>
        <input type="text" placeholder="" formControlName="nome" name="nome" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Sobrenome</ion-label>
        <input type="text" placeholder="" formControlName="sobrenome" name="sobrenome" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>E-mail</ion-label>
        <input type="email" placeholder="" formControlName="email" name="email" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>CPF</ion-label>
        <input type="text" placeholder="" [brmasker]="{mask:'000.000.000-00', len:14, userCaracters: true}" formControlName="cpf" name="email" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Função</ion-label>
        <ion-select formControlName="funcao">
          <ion-select-option>Porteiro</ion-select-option>
          <ion-select-option>Zelador</ion-select-option>
        </ion-select>
      </div>

      <div class="input-cadastro2">
        <ion-label>Senha</ion-label>
        <input type="password" placeholder="" [(ngModel)]="senha" formControlName="senha" name="senha" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Confirmar Senha</ion-label>
        <input type="password" placeholder="" [(ngModel)]="confirmarSenha" (blur)="apagarSenha()" formControlName="confirmar_senha" name="confirmar_senha" required>
        <span *ngIf="senha != confirmarSenha" style="color: red; font-weight: 600;">*Senhas não conferem</span>
      </div>
      <ion-button type="submit" class="button-login">Cadastrar</ion-button>
    </div>

  </form>
  <br>
  <br>
</ion-content>