<ion-content>

  <div class="logo-header">
    <ion-icon src="../../assets/img/logo.svg"></ion-icon>
    <h1 style="color: #5231A1;">Soft Condominios</h1>
    <span>Login</span>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="logar()">
    <div class="inputs">
      <div class="input-login">
        <ion-label>Email</ion-label>
        <input type="email" placeholder="" formControlName="email" name="email">
      </div>

      <div class="input-senha">
        <ion-label>Senha</ion-label>
        <input type="password" placeholder="" formControlName="senha" name="senha">
        <ion-icon name="eye"></ion-icon>
      </div>

      <div class="esqueci-senha">
        <ion-label routerLink="/esqueci-senha"> Esqueci minha senha </ion-label>
      </div>

      <center>
        <ion-button type="submit" class="button-login">Entrar</ion-button>
      </center>
    </div>
  </form>
  
  <ion-footer style="position: absolute; bottom: 0">
    <ion-toolbar style="text-align: center;--background: #5231A1; color: #fff" routerLink="/cadastro">
      <ion-label>Você é morador ? Clique aqui e cadastre-se</ion-label> 
    </ion-toolbar>
  </ion-footer>

</ion-content>