ion-input{
    --padding-start: 16px;
}

div.logo-header{
    width: 95%;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon{
        font-size: 200px !important;
    }
}

div.inputs{
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
}

div.inputs{
    div.input-login{
        ion-input{
            border: 1px solid #666666;
            border-radius: 5px;
            height: 50px;
            width: 100%;
            margin: 0 auto;
            margin-top: 20px;
        }
        
        ion-label{
            background: #fff;
            position: relative;
            top: 30px;
            left: 16px;
            color: #8b8b8b;
            font-family: inherit;
            z-index: 999;
        }
    }

    div.input-senha{
        margin-top: 20px;

        ion-input{
            border: 1px solid #666666;
            border-radius: 5px;
            height: 50px;
            width: 100%;
            margin: 0 auto;
        }
    
        ion-label{
            background: #fff;
            position: relative;
            top: 10px;
            left: 16px;
            color: #8b8b8b;
            font-family: inherit;
            z-index: 999;
        }

        ion-icon{
            font-size: 28px;
            color: #666666;
            position: relative;
            bottom: 38px;
            float: right;
            right: 15px;
        }
    }

    div.esqueci-senha{
        margin-top: 15px;
        float: right;
        font-size: 13px;
        color: #666666
    }

    ion-button{
        --background: #5231A1;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        width: 100%;
        margin: 0 auto;
        --border-radius: 5px;
        margin-top: 40px;
    }
}