<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content style="--background: #5231A1 !important">
        <ion-list lines="none" style="background: #5231A1 !important">
          <div style="display: flex; align-items: center; justify-content: center;">
            <ion-icon src="./../assets/img/logosoft.svg" style="font-size: 140px;"></ion-icon>
          </div>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="folder" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" name="home"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="perfil" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/perfil-1.svg"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-item>

           

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" [routerLink]="['visualizar-mudanca',id]"
              lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/mudanca-branco.svg"></ion-icon>
              <ion-label>Visualizar Mudanças</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="visualizar-sugestao"
              *ngIf='permissao == "Sindico" || permissao == "Zelador"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" name="bulb"></ion-icon>
              <ion-label>Visualizar Sugestões </ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="visualizar-doc"
              lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/doc-branco.svg"></ion-icon>
              <ion-label>Visualizar Documentos</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" [routerLink]="['visualizar-visitante',id]"
              *ngIf='permissao == "Sindico" || permissao == "Zelador" || permissao == "Porteiro"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/visitante-branco.svg"></ion-icon>
              <ion-label>Visualizar Visitantes</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" [routerLink]="['/visualizar-encomenda',id]"
              *ngIf='permissao != "Sindico"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/entrega-branco.svg"></ion-icon>
              <ion-label>Visualizar Encomendas</ion-label>

            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="visualizar-ocorrencia"
              *ngIf='permissao == "Sindico" || permissao == "Zelador"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/ocorrencia-branco.svg"></ion-icon>
              <ion-label>Visualizar Ocorrencias</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="cad-sindico"
              *ngIf='permissao == "Sindico"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/sind.svg"></ion-icon>
              <ion-label>Cadastrar Sindico</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="cad-condominio"
              *ngIf='permissao == "Sindico"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/predio.svg"></ion-icon>
              <ion-label>Cadastrar Condominio</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="documentos"
              *ngIf='permissao == "Sindico"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/baixar-doc.svg"></ion-icon>
              <ion-label>Cadastrar Documentos</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="cad-reclamacoes"
              *ngIf='permissao == "Sindico"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/cad-recla.svg"></ion-icon>
              <ion-label>Cadastrar Ocorrencias</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" [routerLink]="['cad-visitante',id]"
            *ngIf='permissao == "Sindico" || permissao == "Zelador" || permissao == "Porteiro"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/cad-visit.svg"></ion-icon>
              <ion-label>Cadastrar Visitante</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" [routerLink]="['/cad-encomenda',id2]"
              *ngIf='permissao == " Zelador" || permissao == "Porteiro"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" name="cube"></ion-icon>
              <ion-label>Cadastrar Encomenda</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="cad-colaborador"
              *ngIf='permissao == "Sindico"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/cad-morador-branco.svg"></ion-icon>
              <ion-label>Cadastrar Colaborador</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="cad-informativo"
              *ngIf='permissao == "Sindico" || permissao == "Zelador"' lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/informativo-branco.svg"></ion-icon>
              <ion-label>Cadastrar Informativos</ion-label>
            </ion-item>

            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="mudanca"
              lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" src="../../assets/icon/mudanca-branco.svg"></ion-icon>
              <ion-label>Cadastrar Mudanças</ion-label>
            </ion-item>

            <ion-item (click)="logout()" lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root" routerLink="visualizar-sugestao"
              lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" name="log-out"></ion-icon>
              <ion-label>Logoff</ion-label>
            </ion-item>

          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>