<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content style="--background: #5231A1 !important">
        <ion-list lines="none" style="background: #5231A1 !important">
          <div style="display: flex; align-items: center; justify-content: center;">
            <ion-icon src="./../assets/img/logosoft.svg" style="font-size: 140px;"></ion-icon>
          </div>
          <ion-item lines="none" detail="false" (click)="logout()" style="--background: #5231A1 !important; color: #fff" lines="none" detail="false"
          routerLinkActive="selected">
          <ion-icon name="log-out" size="large" style="color: #fff"></ion-icon>
          <ion-label>&nbsp;&nbsp;&nbsp;Logout</ion-label>
        </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" style="--background: #5231A1 !important; color: #fff" routerDirection="root"
              [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon style="color: #fff" slot="start" [ios]="p.icon" [src]="p.src" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>