<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="folder"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="logo-header">
    <img src="../../assets/img/cad.svg">
    <h3>Cadastro</h3>
    <span>Moradores</span>
  </div>

  <form [formGroup]="formulario">

    <div class="inputs">
      <div class="input-cadastro1">
        <ion-label>Nome</ion-label>
        <input type="text" placeholder="" formControlName="nome" name="nome" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Sobrenome</ion-label>
        <input type="text" placeholder="" formControlName="sobrenome" name="sobrenome" required>
      </div> 

      <div class="input-cadastro2">
        <ion-label>CPF</ion-label>
        <input type="text" placeholder="" formControlName="cpf" name="cpf" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>E-mail</ion-label>
        <input type="email" placeholder="" formControlName="email" name="email" required>
      </div>

      <div class="input-cadastro2">
          <ion-label>CEP</ion-label>
          <input type="email" placeholder="" formControlName="cep" required (blur)="consultaCEP($event.target.value)" [(ngModel)]="cep">
        </div>

        <div class="input-cadastro2">
            <ion-label>Bairro</ion-label>
            <input type="text" placeholder="" value='{{dados.bairro}}' [(ngModel)]="bairro" formControlName="bairro" name="bairro"
              required readonly>
          </div>
    
          <div class="input-cadastro2">
            <ion-label>Cidade</ion-label>
            <input type="text" placeholder="" value='{{dados.localidade}}' [(ngModel)]="cidade" formControlName="cidade" name="cidade"
              required readonly>
          </div>
    
          <div class="input-cadastro2">
            <ion-label>Estado</ion-label>
            <input type="text" placeholder="" value='{{dados.uf}}' name="estado" [(ngModel)]="estado" formControlName="estado" required
              readonly>
          </div>

      <div class="input-cadastro2">
        <ion-label>Condominio</ion-label>
        <ion-select formControlName="condominio">
          <ion-select-option></ion-select-option>
        </ion-select>
      </div>

      <div class="input-cadastro2">
        <ion-label>Bloco</ion-label>
        <input type="text" placeholder="" formControlName="bloco" name="bloco">
      </div>

      <div class="input-cadastro2">
        <ion-label>Apartamento</ion-label>
        <input type="number" placeholder="" formControlName="apartamento" name="apartamento" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Senha</ion-label>
        <input type="password" placeholder="" formControlName="senha" [(ngModel)]="senha" name="senha" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Confirmar Senha</ion-label>
        <input type="password" placeholder="" [(ngModel)]="confirmarSenha" formControlName="confirmar_senha" (blur)="apagarSenha()"required>
        <span *ngIf="senha != confirmarSenha" style="color: red; font-weight: 600;">*Senhas não conferem</span>
      </div>

      <ion-button (click)="teste()" class="button-login">Cadastrar</ion-button>
    </div>
  </form>

  <br>
  <br>
</ion-content>