<ion-header [translucent]="true">
  <ion-toolbar style="--background: #000">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sub-header-menu">
    <ion-label class="label-name">Olá Patrick Araujo</ion-label>
  </div>

  <div class="card-container">
    <div class="card-container-content">
      <ion-grid>
        <ion-row>
          <ion-col size="3" style="height: 70px;">
            <ion-icon name="business" style="color: #fff; font-size: 50px;"></ion-icon>
          </ion-col>

          <ion-col size="9">
            <ion-label style="color: #fff; letter-spacing: 0.5px; font-size: 15px;">Castel Ferrara
              <br>
            </ion-label>
            <ion-label style="color: #fff; letter-spacing: 0.5px; font-size: 12px;">
              Rua João Pessoa 336, Santa Rosa/Niteroi - RJ</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <div class="slide-informativos">
    <h3>
      <ion-icon name="alert-circle" size="large"></ion-icon>&nbsp;Informativos
    </h3>
    <ion-slides [options]="sliderOptions" startAutoplay>
      <ion-slide class="slide">

      </ion-slide>

      <ion-slide class="slide">

      </ion-slide>

      <ion-slide class="slide">

      </ion-slide>

      <ion-slide class="slide">

      </ion-slide>
    </ion-slides>
  </div>

  <div class="links-option">
    <ion-grid>
      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="desktop"></ion-icon>
          </div>
          <span class="span-text-option">Área do Sindico</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="book"></ion-icon>
          </div>
          <span class="span-text-option">Livro de Ocorrências</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="alert"></ion-icon>
          </div>
          <span class="span-text-option">Área de Reclamações</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="bulb"></ion-icon>
          </div>
          <span class="span-text-option">Área de Sugestões</span>
        </ion-col>
      </ion-row>

      <br>
      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="cube"></ion-icon>
          </div>
          <span class="span-text-option">Encomendas</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="bar-chart"></ion-icon>
          </div>
          <span class="span-text-option">Votação Interativa</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="cash"></ion-icon>
          </div>
          <span class="span-text-option">Controle Financeiro</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="documents"></ion-icon>
          </div>
          <span class="span-text-option">Documentos</span>
        </ion-col>
      </ion-row>

      <br>

      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="search"></ion-icon>
          </div>
          <span class="span-text-option">Achados e Perdidos</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="people-circle"></ion-icon>
          </div>
          <span class="span-text-option">Cadastro de Visitantes</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="list"></ion-icon>
          </div>
          <span class="span-text-option">Escala de Funcionários</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="calendar-number"></ion-icon>
          </div>
          <span class="span-text-option">Manutenção e Obras</span>
        </ion-col>
      </ion-row>

      <br>

      <ion-row>
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="Checkmark"></ion-icon>
          </div>
          <span class="span-text-option">Reserva de Atividades</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon style="color: #fff; font-size: 40px;" name="thumbs-up"></ion-icon>
          </div>
          <span class="span-text-option">Atividades</span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <br>
</ion-content>