<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar style="--background: #5231A1;">
      <ion-buttons slot="start">
        <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
        <ion-label style="color: #fff; font-weight: 500; font-size: 16px; position: relative; top: 2px; letter-spacing: 1px">Soft Condominios</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="sub-header-menu">
    <ion-icon name="person"></ion-icon>
    <ion-label class="label-name">Sindico: Mahamoud Marfri</ion-label>
  </div>

  <div class="card-container">
    <div class="card-container-content">
      <ion-grid>
        <ion-row>
          <ion-col size="3" style="height: 70px;">
            <ion-icon name="business" style="color: #fff; font-size: 50px;"></ion-icon>
          </ion-col>

          <ion-col size="9">
            <ion-label style="color: #fff; letter-spacing: 0.5px; font-size: 15px;">Castel Ferrara
              <br>
            </ion-label>
            <ion-label style="color: #fff; letter-spacing: 0.5px; font-size: 12px;">
              Rua João Pessoa 336, Santa Rosa/Niteroi - RJ</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <div class="slide-informativos">
    <h3>
      <ion-icon name="alert-circle" size="large"></ion-icon>&nbsp;Informativos
    </h3>

    <div class="hr"></div>

    <ion-slides [options]="sliderOptions" startAutoplay>
      <ion-slide class="slide">

      </ion-slide>

      <ion-slide class="slide">

      </ion-slide>

      <ion-slide class="slide">

      </ion-slide>

      <ion-slide class="slide">

      </ion-slide>
    </ion-slides>
  </div>

<br><br>
  <h3 style="color: #5231A1;">
    <ion-icon src="../../assets/icon/atalhos.svg" size="large" ></ion-icon>&nbsp;Painel de Atalhos
  </h3>

  <div class="hr"></div>
  <div class="links-option">

    <ion-grid>
      <ion-row>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option">
            <ion-icon name="desktop"></ion-icon>
            <span class="span-text-option">Área do Sindico</span>
          </div>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option" routerLink="/cadastro">
            <ion-icon src="../../assets/icon/cad-morador.svg"></ion-icon>
            <span class="span-text-option">Cadastrar Moradores</span>
          </div>
        </ion-col>
<!-- 
        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option" routerLink="/visualizar-doc">
            <ion-icon style="color: #fff; font-size: 40px;" src="../../assets/icon/doc.svg"></ion-icon>
          </div>
          <span class="span-text-option">Documentos</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option" routerLink="/visualizar-visitante">
            <ion-icon style="color: #fff; font-size: 40px;" src="../../assets/icon/visitor.svg"></ion-icon>
          </div>
          <span class="span-text-option">Visitantes</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option" routerLink="/visualizar-ocorrencia">
            <ion-icon style="color: #fff; font-size: 40px; text-align: center;" src="../../assets/icon/ocorrencia.svg">
            </ion-icon>
          </div>
          <span class="span-text-option">Ocorrências</span>
        </ion-col>

        <ion-col size="6" style="margin: 0 auto; text-align: center;">
          <div class="div-option" routerLink="/cad-informativo">
            <ion-icon style="color: #fff; font-size: 40px; text-align: center;" src="../../assets/icon/ocorrencia.svg">
            </ion-icon>
          </div>
          <span class="span-text-option">Ocorrências</span>
        </ion-col> -->

      </ion-row>

    </ion-grid>
  </div>

  <br>
</ion-content>