<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="folder"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="logo-header">
    <img src="../../assets/img/esqueci.svg" style="margin-top: 100px;">
    <br><br>
    <h3>Redefinir Senha</h3>
  </div>

  <form>
    <div class="inputs">
      <div class="input-cadastro1">
        <ion-label>Digite seu email</ion-label>
        <input type="email" placeholder="" name="email">
      </div>
      <center>
        <ion-button type="submit" class="button-login">Enviar</ion-button>
      </center>
    </div>
  </form>

</ion-content>