<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar lines='none'></ion-toolbar>
  </ion-header>
  <div class="logo-header">
    <img src="../../assets/img/documentos.svg">
    <h3>Documentos</h3>
    <span>Disponibilize o documentos para os moradores realizarem download</span>
  </div>

  <form [formGroup]="formulario">

    <div class="inputs">

      <div class="input-cadastro2">
        <ion-label>Descrição do Arquivo</ion-label>
        <ion-input type="text" placeholder="" formControlName="descricaoArquivo" name="descricaoArquivo"></ion-input>
      </div>

      <div class="input-cadastro2" *ngIf="files == null">
        <ion-label>Arquivo</ion-label>
        <ion-item type="button" lines="none" (click)="file.click()">
          <span>Clique aqui para fazer upload</span>
        </ion-item>
        <input type="file" #file id="file" style="font-size: 13px !important" formControlName="documento">
      </div>

      <ion-button class="button-login">Upload</ion-button>
    </div>
  </form>
  <br>
  <br>
</ion-content>