<ion-content>

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="folder"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<br><br>
  <div class="logo-header">
    <img src="../../assets/img/condominio.svg">
    <h3>Cadastro</h3>
    <span>Condominio</span>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
    <div class="inputs">

      <div class="input-cadastro2">
        <ion-label>Razão Social</ion-label>
        <input type="text" placeholder="" formControlName="razaoSocial" name="razaoSocial" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Nome Fantasia</ion-label>
        <input type="text" placeholder="" formControlName="nomeFantasia" name="nomeFantasia">
      </div>

      <div class="input-cadastro2">
        <ion-label>CNPJ</ion-label>
        <input type="text" placeholder="" formControlName="cnpj" name="cnpj">
      </div>


      <div class="input-cadastro2">
        <ion-label>CEP</ion-label>
        <input type="text" placeholder="" name="cep" formControlName="cep" required
          (ionBlur)="consultaCEP($event.target.value)" [(ngModel)]="cep">
      </div>

      <div class="input-cadastro2">
        <ion-label>Rua</ion-label>
        <input type="text" placeholder="" value='{{dados.logradouro}}' formControlName="rua" name="rua" readonly>
        
      </div>

      <div class="input-cadastro2">
        <ion-label>Bairro</ion-label>
        <input type="text" placeholder="" value='{{dados.bairro}}' formControlName="bairro" name="bairro"
          required readonly>
      </div>

      <div class="input-cadastro2">
        <ion-label>Cidade</ion-label>
        <input type="text" placeholder="" value='{{dados.localidade}}' formControlName="cidade" name="cidade"
          required readonly>
      </div>

      <div class="input-cadastro2">
        <ion-label>Estado</ion-label>
        <input type="text" placeholder="" value='{{dados.uf}}' name="estado" formControlName="estado" required
          readonly>
      </div>

      <div class="input-cadastro2">
        <ion-label>Número</ion-label>
        <input type="text" placeholder="" name="numero" formControlName="numero" required>
      </div>

      <!-- #################################CONDIÇÃO PARA EXIBIR NOME DO ARQUIVO################################## -->

      <div class="input-cadastro2" *ngIf="files == null">
        <ion-label>Contrato Social</ion-label>
        <ion-item type="button" lines="none" (click)="file.click()">
          <span>Clique aqui para fazer upload</span>
        </ion-item>
        <input type="file" #file id="file" formControlName="linkContrato" style="font-size: 13px !important"
          [(ngModel)]="files">
      </div>

      <div class="input-cadastro2" *ngIf="files != null">
        <ion-label>Contrato Social</ion-label>
        <ion-item type="button" lines="none" (click)="file.click()">
          <span>{{files}}</span>
        </ion-item>
        <input type="file" #file id="file" formControlName="linkContrato" style="font-size: 13px !important"
          [(ngModel)]="files">
      </div>

      <!-- ###################################FIM DA CONDIÇÃO############################################## -->

      <ion-button type="submit" class="button-login">Cadastrar</ion-button>
    </div>
  </form>
  <br>
  <br>
</ion-content>