<ion-content>

  <ion-header [translucent]="true">
    <ion-toolbar style="--background: rgb(45, 1, 148) !important; display: flex;">
      <ion-buttons slot="start">
        <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br><br>
  <div class="logo-header">
    <img src="../../assets/img/visitante.svg">
    <h3>Cadastro</h3>
    <span>Visitantes</span>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
    <div class="inputs">
      <div class="input-cadastro1">
        <ion-label>Nome</ion-label>
        <input type="text" placeholder="" formControlName="nome" name="nome" required>
      </div>

      <div class="input-cadastro1">
        <ion-label>Sobrenome</ion-label>
        <input type="text" placeholder="" formControlName="sobrenome" name="nome" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>CPF</ion-label>
        <input type="text" [brmasker]="{mask:'000.000.000-00', len:14, userCaracters: true}" placeholder="" formControlName="cpf" name="cpf" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Tipo de Visitante</ion-label>
        <ion-select formControlName="tipoVisitante">
          <ion-select-option>Visitante</ion-select-option>
          <ion-select-option>Prestador de Serviço</ion-select-option>
        </ion-select>
      </div>

      <div class="input-cadastro2">
        <ion-label>Bloco</ion-label>
        <input type="text" placeholder="" formControlName="bloco" name="bloco">
      </div>

      <div class="input-cadastro2">
        <ion-label>Apartamento</ion-label>
        <input type="number" placeholder="" formControlName="apartamento" name="apartamento" required>
      </div>

      <div class="input-cadastro2">
        <ion-label>Observação</ion-label>
        <textarea type="number" placeholder="" formControlName="observacao" name="observacao" required></textarea>
      </div>

      <ion-button type="submit" class="button-login">Cadastrar</ion-button>
    </div>
  </form>
  <br>
  <br>
</ion-content>