h1{
    text-align: center;
    color: #5231A1;
    margin-top: 20px;
}

.mat-title{
    font-size: 14px;
}

.status{
    width: 14px;
    height: 14px;
    background: green;
    border-radius: 50%;
    position: relative;
    top: 8px;
}

ion-list{
    ion-item{

        --color: #565656 ;
        font-size: 15px;
    }
}

div.icones{
    ion-icon{
        float: right;
        font-size: 30px;
    }

    span{
        font-size: 16px;
        position: relative;
        top: 6px;
        
        color: #fff;
        float: right;
    }
}

.entrega {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px !important;
  
    button {
      width: 100%;
      height: 35px;
      background: #5231A1;
      border-radius: 5px;
      color: #fff;
    }
  }

ion-select::part(placeholder),
ion-select::part(text) {
  color: #fff;
}

ion-select::part(placeholder) {
  color: #fff;
  opacity: 1;
}

ion-select::part(icon) {
  color: #fff;
  opacity: 1;
}