<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar style="--background: rgb(45, 1, 148) !important; display: flex;">
      <ion-buttons slot="start">
        <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
      </ion-buttons>
      <ion-select placeholder="Filtrar" style="width: 30% !important; float: right;" (ionChange)="filtrar()" [(ngModel)]="filtro">
        <ion-select-option value="false">Finalizado</ion-select-option>
        <ion-select-option value="true">Em Andamento</ion-select-option>
      </ion-select>

    </ion-toolbar>
  </ion-header>
  
  <h1>Visitantes</h1>

  <mat-expansion-panel hideToggle style="min-height: 10px; width: 90%; margin: 0 auto; margin-top: 20px !important;" *ngFor="let dados of visitante">
    <mat-expansion-panel-header>
      <mat-panel-title style="display: flex; align-items: center;">
        <ion-icon src="../../assets/icon/visitante.svg" style="font-size: 30px;"></ion-icon>
        &nbsp;&nbsp;<span style="font-size: 14px;">{{dados.nome}} {{dados.sobrenome}}</span>
      </mat-panel-title>
      <!-- <div class="status"></div> -->
    </mat-expansion-panel-header>
    <ion-list>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;CPF:</span><span>&nbsp;{{dados.cpf}}</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Tipo de Visitante:</span><span>&nbsp;{{dados.tipoVisitante}}</span></ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="dados.bloco != 0">
        <ion-label><span>•&nbsp;&nbsp;Bloco:</span><span>&nbsp;{{dados.bloco}}</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Apartamento:</span><span>&nbsp; {{dados.apartamento}}</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Entrada:</span><span>&nbsp;{{dataEntrada}} ás {{dados.horaEntrada}}</span></ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="dados.horaSaida == null || ''">
        <ion-label><span>•&nbsp;&nbsp;Saida:</span><span>&nbsp;Em Aberto</span></ion-label>
      </ion-item>
    </ion-list>

    <div class="entrega">
      <button (click)="alterar(dados.id)" [routerLink]="['visualizar-visitante',id]">Finalizar</button>
    </div>
  </mat-expansion-panel>

</ion-content>