<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar style="--background: rgb(45, 1, 148) !important; display: flex;">
      <ion-buttons slot="start">
        <ion-menu-button src="../../assets/img/menu.svg" style="color: #fff"></ion-menu-button>
      </ion-buttons>
      <div class="icones">
        <span>Filtrar</span>
        <ion-icon src="../../assets/icon/filtro.svg"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <h1>Visitantes</h1>

  <mat-expansion-panel hideToggle style="min-height: 10px; width: 90%; margin: 0 auto; margin-top: 20px !important;">
    <mat-expansion-panel-header>
      <mat-panel-title style="display: flex; align-items: center;">
        <ion-icon src="../../assets/icon/visitante.svg" style="font-size: 30px;"></ion-icon>
        &nbsp;&nbsp;<span style="font-size: 14px;">Patrick Araujo Monteiro da Costa</span>
      </mat-panel-title>
      <div class="status"></div>
    </mat-expansion-panel-header>
    <ion-list>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;CPF:</span><span>&nbsp;102.973.956-34</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Tipo de Visitante:</span><span>&nbsp;Prestador de Serviço</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Destino:</span><span>&nbsp;Condominio</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Entrada:</span><span>&nbsp;15/06/2021 ás 15:34</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Saida:</span><span>&nbsp;Em Aberto</span></ion-label>
      </ion-item>
    </ion-list>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle style="min-height: 10px; width: 90%; margin: 0 auto; margin-top: 20px !important;">
    <mat-expansion-panel-header>
      <mat-panel-title style="display: flex; align-items: center;">
        <ion-icon src="../../assets/icon/visitante.svg" style="font-size: 30px;"></ion-icon>
        &nbsp;&nbsp;<span style="font-size: 14px;">Patrick Araujo Monteiro da Costa</span>
      </mat-panel-title>
      <div class="status"></div>
    </mat-expansion-panel-header>
    <ion-list>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;CPF:</span><span>&nbsp;102.973.956-34</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Tipo de Visitante:</span><span>&nbsp;Prestador de Serviço</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Destino:</span><span>&nbsp;Condominio</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Entrada:</span><span>&nbsp;15/06/2021 ás 15:34</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Saida:</span><span>&nbsp;Em Aberto</span></ion-label>
      </ion-item>
    </ion-list>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle style="min-height: 10px; width: 90%; margin: 0 auto; margin-top: 20px !important;">
    <mat-expansion-panel-header>
      <mat-panel-title style="display: flex; align-items: center;">
        <ion-icon src="../../assets/icon/visitante.svg" style="font-size: 30px;"></ion-icon>
        &nbsp;&nbsp;<span style="font-size: 14px;">Patrick Araujo Monteiro da Costa</span>
      </mat-panel-title>
      <div class="status"></div>
    </mat-expansion-panel-header>
    <ion-list>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;CPF:</span><span>&nbsp;102.973.956-34</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Tipo de Visitante:</span><span>&nbsp;Prestador de Serviço</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Destino:</span><span>&nbsp;Condominio</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Entrada:</span><span>&nbsp;15/06/2021 ás 15:34</span></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><span>•&nbsp;&nbsp;Saida:</span><span>&nbsp;Em Aberto</span></ion-label>
      </ion-item>
    </ion-list>
  </mat-expansion-panel>

</ion-content>